* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.main {
    text-align: center;
}

.main input {
    color: blue;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 2%;
    width: 44%;
}

.main .btn-get-location {
    font-size: 1rem;
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 15%;
    padding: 1%;
    margin: auto;
}

.main .btn-get-location:active {
    background-color: #555555;
    color: black;
}
